body{
  margin: 0;
}

#banner{
  background-image: url(../img/pattern.png);
  background-color: rgb(59, 151, 250);
  }

  #booleaner{
    font-size: 12px;
  }

  h1.title{
    font-size: 2.5rem;
    margin: 20px 40px 1px;
    text-align: center justify;
  }

  h3.title{
    font-size: 15px;
  }

  h2, h3.title{
    color: gray;
    text-align: justify;
    margin: 0px 40px;
  }

  
  a{
    color: rgb(37, 174, 226);
    text-decoration: none;
  }